@{
    ViewBag.Title = "Admin";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/jquery-ui")
}
<script>
    var teacherList = @(Html.Raw(Json.Encode(ViewBag.teacherList)));
    $.teacherList = JSON.parse(teacherList);
    var departmentList = @(Html.Raw(Json.Encode(ViewBag.departmentList)));
    $.departmentList = JSON.parse(departmentList);
    var outSideTeacherUnit = @(Html.Raw(Json.Encode(ViewBag.outSideTeacherUnit)));
    $.outSideTeacherUnit = JSON.parse(outSideTeacherUnit);
    var ousSideTeacherList = @(Html.Raw(Json.Encode(ViewBag.ousSideTeacherList)));
    $.ousSideTeacherList = JSON.parse(ousSideTeacherList);
        
    

    function outSideTeacherUnitEvent(){
        var html='<option selected="selected" value="">選擇指導教授</option>';
        console.log(1)
        var val = $(this).val();
        console.log(2)
        var nextSelectTag = $(this).parent().next().find("select");
        console.log(3)
        $.each($.ousSideTeacherList,function(k,v){
            if(v.t_service_units==val)
                html += '<option value="'+v.t_id+'">'+v.t_name+'</option>';
        });
        console.log(4)
        nextSelectTag.html(html);
    }


    var tableStudent, tableStudentInfo;
    var _studentListJSONObjs;
    var studnetSemester;
    var dialogStudentInfo;
    $(document).ready(function () {
        //initialize datatabke
        generatorTable();
        tableStudentInfo = $("#tableStudentInfo").DataTable({ searching: false, paging: false, "bInfo": false });

        $("[id=departmentListItem]").bind("change",function(){
            var val = $(this).val();
            var nextSelectTag = $(this).parent().next().find("select");
            var next2SelectTag = $(this).parent().next().next().find("select");
            if(val=="0"){
                var html='<option disabled="disabled" selected="selected">選擇單位</option>';
                $.each($.outSideTeacherUnit,function(k,v){
                    html += '<option value="'+v.t_service_units+'">'+v.t_service_units+'</option>';
                });
                console.log(111)
                nextSelectTag.bind("change",outSideTeacherUnitEvent);
                console.log(222)
                nextSelectTag.removeClass("subTeacher");
                console.log(333)
                next2SelectTag.addClass("subTeacher").show();
            }    
            else{
                var html='<option selected="selected" value="">選擇指導教授</option>';
                $.each($.teacherList,function(k,v){
                    if(v.t_department==val)
                        html += '<option value="'+v.t_id+'">'+v.t_name+'</option>';
                });
                nextSelectTag.unbind("change");
                nextSelectTag.addClass("subTeacher");
                next2SelectTag.removeClass("subTeacher").hide();
            }
            nextSelectTag.html(html);
        });

    });
    
    function generatorTable() {
        $.ajax({
            type: "POST",
            url: "/admin/GetStudentSemester",
            data: null,
            dataType: "JSON",
            success: function (data) {
                studnetSemester = data;
                //create fix column
                var column = [
                    { title: "教師姓名" },
                    { title: "博士班" },
                    { title: "在職" },
                    { title: "異動紀錄." }
                ];
                //add dynamic semester column according to data
                for (var i in data) {
                    var semester = data[i];
                    column.splice(2, 0, { title: semester });
                }
                //create datatable
                tableStudent = $("#table").DataTable({
                    columns: column,
                    searching: false, paging: false, "bInfo": false,
                    "ordering": false
                });

                getStudentList();
            }
        })

        
    }
    function getStudentList() {
        $.ajax({
            type: "POST",
            url: "/admin/GetStudentList",
            data: null,
            dataType: "json",
            success: function (data) {
                _studentListJSONObjs = data;
                loadStudentTable();
            }
        })
    }
    function loadStudentTable() {
        tableStudent.clear().draw();
        for (var i in _studentListJSONObjs) {
            console.log(_studentListJSONObjs);
            //create row data object
            var newRow = [
                _studentListJSONObjs[i]['tname'],
                getStudnetClickEvent(_studentListJSONObjs[i]['phd']),
                getStudnetClickEvent(_studentListJSONObjs[i]['pt_m'])
            ];

            //process master student column data and add to row data
            for (var c in studnetSemester) {
                var semester = studnetSemester[c];
                newRow.splice(2, 0, getStudnetClickEvent (_studentListJSONObjs[i][semester]));
            }
            //process history data and push into row data
            var history = _studentListJSONObjs[i]['history'];
            var value='';
            for (var c in history) {
                value += history[c]['hsc_endtime'] + history[c]['hsc_s_id'] + history[c]['in_or_out'] + '</br>';
            }
            newRow.push(value);
            tableStudent.row.add(newRow);
        }
        tableStudent.draw();
    }
    function loadStudentInfo(sid) {
        tableStudentInfo.clear().draw();
        var s_info = { "sid": sid };
        $.ajax({
            type: "POST",
            url: "/admin/GetStudentInfo",
            data: s_info,
            dataType: "json",
            success: function (data) {
                var btnHtml = data.doEvent === "apply" 
                    ? '<button onClick="applyTeacher(\'' + data['sid']+'\',\'' + data['s_group']+'\',\'' + data['s_department']+'\')">申請指導教授</button>' 
                    : '<button onClick="changeTeacher(\'' + data['sid']+'\',\'' + data['s_group']+'\',\'' + data['s_department']+'\')">更改指導教授</button>';

                $.pairTeacher = data['pairTeacher'];
                tableStudentInfo.row.add([
                    data['sid'],
                    data['sname'],
                    data['tname'],
                    btnHtml
                ]);
                var sid = data['sid'];
                //get student apply
                var apply = data['apply'];
                var html = '';
                for (var i in apply) {
                    var tname = apply[i]['tname'];
                    var status = apply[i]['status'];
                    var tg_id = apply[i]['sa_tg_id'];
                    var tid = apply[i]['tid'];
                    var text = '';
                    if (status == "1")
                        text = '等待其他老師確認';
                    else if (status == "2")
                        text = '不同意';
                    else
                        text = '<button onClick=\'acceptApply("' + tg_id + '","' + sid + '","' + tid + '","' + tname
                            + '",1)\'>同意</button> <button onClick=\'acceptApply("' + tg_id + '","' + sid + '","' + tid + '","' + tname
                            + '",2)\'>不同意</button>'
                    html += tname +"   "+ text+"</br>";
                }
                $("#apply").html(html);
                //get student change
                html = '';
                var olds = data['change']['old'];
                var news = data['change']['new'];
                var sc_allapproval = data['change']['sc_all_approval'];
                console.log(data['change']);
                for (var i in olds) {
                    var tname = olds[i]['tname'];
                    var status = olds[i]['status'];
                    var tid = olds[i]['tid'];
                    var text = '';
                    if (status == 1)
                        text = '等待其他老師確認';
                    else if (status == "2")
                        text = '不同意';
                    else
                        text = '<button onClick=\'acceptChange('
                            + '"' + 'null'
                            + '","' + olds[i]['org_tg_id']
                            + '","' + olds[i]['new_tg_id']
                            + '","' + sid
                            + '","' + tid
                            + '","' + sc_allapproval + '",1)\'>同意</button>' +
                            ' <button onClick=\'acceptChange('
                            + '"' + 'null'
                            + '","' + olds[i]['org_tg_id']
                            + '","' + olds[i]['new_tg_id']
                            + '","' + sid
                            + '","' + tid
                            + '","' + sc_allapproval + '",2)\'>不同意</button>'
                    html += "原始指導教授:"+tname + "  操作 "+ text+"<br>";
                }
                for (var i in news) {
                    var tname = news[i]['tname'];
                    var status = news[i]['status'];
                    var tid = news[i]['tid'];
                    var text = '';
                    if (status == "1")
                        text = '等待其他老師確認';
                    else
                        text = '<button onClick=\'acceptChange('
                            + '"' + news[i]['sc_id']
                            + '","' + news[i]['org_tg_id']
                            + '","' + news[i]['new_tg_id']
                            + '","' + sid
                            + '","' + tid
                            + '","' + sc_allapproval + '",1)\'>同意</button>' +
                            ' <button onClick=\'acceptChange('
                            + '"' + news[i]['sc_id']
                            + '","' + news[i]['org_tg_id']
                            + '","' + news[i]['new_tg_id']
                            + '","' + sid
                            + '","' + tid
                            + '","' + sc_allapproval + '",2)\'>不同意</button>'
                    html += "新指導教授:" + tname + "  操作 " +  text + "</br>" ;
                }
                
                $("#change").html(html);

                
                tableStudentInfo.draw();
            }
        })


    }
    function acceptApply(tg_id, s_id, t_id ,t_name, accept) {
        var data = {
            "tg_id": tg_id,
            "t_id": t_id,
            "s_id": s_id,
            "accept": accept
        }
        if (accept)
            $("#accept").text("同意");
        else
            $("#accept").text("不同意");
        $("#teacher").text(t_name);
        $("#dialog-acceptApply").dialog({
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "確定": function () {
                    $(this).dialog("close");
                    $.ajax({
                        type: "POST",
                        url: "/admin/UpdateStudentApply",
                        data: data,
                        dataType: "json",
                        success: function (data) {
                            console.log("success");
                            loadStudentInfo(s_id);
                            getStudentList();
                        }
                    })
                },
                "取消": function () {
                    data.thesis_state = 2;
                    $(this).dialog("close");
                }
            }
        });

    }
    function acceptChange(sc_id, org_tg_id, new_tg_id, s_id, t_id, sc_allapproval, accept) {
        var data = {
            "sc_id": sc_id,
            "org_tg_id": org_tg_id,
            "new_tg_id": new_tg_id,
            "s_id": s_id,
            "t_id": t_id,
            "thesis_state": 1,
            "sc_allapproval": sc_allapproval,
            "accept": accept
        }
        if (accept == 1) {
            $("#dialog-acceptChange").dialog({
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "同意論文共用主題": function () {
                    $(this).dialog("close");
                    UpdateStudentChange(data, s_id);
                },
                "不同意論文共用主題": function () {
                    data.thesis_state = 2;
                    $(this).dialog("close");
                    UpdateStudentChange(data, s_id);
                }
            }
        });
        } else {
            UpdateStudentChange(data, s_id);
        }
        

    }
    function UpdateStudentChange(data, sid) {
        $.ajax({
            type: "POST",
            url: "/admin/UpdateStudentChange",
            data: data,
            dataType: "json",
            success: function (data) {
                loadStudentInfo(sid);
                getStudentList();
            }
        })
    }
    function getStudnetClickEvent(stu) {
        var html = '', otherTeacher = '';
        if (stu == '') {
            return '';
        }
        console.log(stu);
        for (var i in stu) {
            if (stu[i]['otherTeacher'] != undefined && stu[i]['otherTeacher'].length > 0) {
                otherTeacher='(';
                for (var j in stu[i]['otherTeacher']) {
                    otherTeacher += (stu[i]['otherTeacher'][j]["t_order"]=="1"?"主:":"副:")+stu[i]['otherTeacher'][j]["tname"]+", ";
                }
                otherTeacher = otherTeacher.substring(0,otherTeacher.length-2);
                otherTeacher+=')';
            }
            else{
                otherTeacher='';
            }
            var id = stu[i]['sid'];
            var color = stu[i]['status'] == 0 ? "red;" : "blue;";
            var foregin = id.charAt(6) == 8 ? "text-decoration:underline;":"1";
            html += '<a href="#" style="color:' + color + foregin+'" onClick="dialogStudnetInfo(\'' + id + '\')">' + id + otherTeacher + '</a ></br>';
        }
        return html;
    }
    function dialogStudnetInfo(sid) {
        loadStudentInfo(sid);
        $("#dialog-studentinfo").dialog({
            resizable: false,
            height: 600,
            width: 1020,
            modal: true,
            buttons: {
                "關閉": function () {
                    $(this).dialog("close");
                }
            }
        });

    }
    function applyTeacher(sid,s_group,s_department) {
        //to-do 申請指導教授
        $.modify_s_id = sid;
        var html = "";
        $.each($.teacherList,function(k,v){
            if (v["t_department"]== s_department) {
                html += "<option value='"+v.t_id+"'>"+v.t_name+"</option>";
            }
        });
        $("[id=mainTeacherListItem]").html(html);
        
        var html="",result;
        
        $( "#dialogForApply" ).dialog({
            width: 400,
            buttons: [
		        {
		            text: "申請",//變更
		            click: function() {

		                if($("#dialogForApply [id=mainTeacherListItem]").val()===null){
		                    alert("請選擇主要指導老師")
		                    return false;
		                }
		                $( "#dialogForCheckApply" ).children("div").eq(0).children("span").eq(1).html($("#mainTeacherListItem").find(":selected").text());
		                $( "#dialogForCheckApply" ).children("div:gt(0)").hide();
		                var i=0;
		                var subTeacher = [], infoObj;
		                $.each($("#dialogForApply .subTeacher"),function(k,v){
		                    if($(v).val()!==null&&$(v).val()!==""){
		                        infoObj={"t_id":$(v).val(), "t_type": $(v).attr("t_type")};
		                        subTeacher[subTeacher.length] = infoObj;
		                        $( "#dialogForCheckApply" ).children("div:gt(0)").eq(i).show();
		                        $( "#dialogForCheckApply" ).children("div:gt(0)").eq(i).children("span").eq(1).html($(v).find(":selected").text());
		                        i++;
		                    }
		                });

		                $( "#dialogForCheckApply" ).dialog({
		                    width: 400,
		                    buttons: [
		                        {
		                            text: "Ok",
		                            click: function() {
		                                $.ajax({
		                                    type:"POST",
		                                    dataType: "text",
		                                    url: "/admin/StudentApply",
		                                    data: {
		                                        main: $("#dialogForApply [id=mainTeacherListItem]").val() ,
		                                        sub: JSON.stringify(subTeacher) ,
		                                        s_id: $.modify_s_id
		                                    },
		                                    success: function(data){
		                                        console.log(data);
		                                        data = JSON.parse(data);
		                                        if( data.status ) {
		                                            alert( "申請成功，請等待教授確認" );
		                                            location.reload();
		                                        }
		                                        else {
		                                            alert( data.msg );
		                                        }
		                                    }
		                                });
		                                $( this ).dialog( "close" );
		                            }
		                        },
		                        {
		                            text: "Cancel",
		                            click: function() {
		                                $( this ).dialog( "close" );
		                            }
		                        }
		                    ]
		                });
		                $( this ).dialog( "close" );
		            }
		        },
		        {
		            text: "取消",
		            click: function() {
		                $( this ).dialog( "close" );
		            }
		        }
            ]
        });
    }

    function changeTeacher(sid,s_group,s_department) {
        //to-do 更改指導教授
        $.modify_s_id = sid;
        var html = "";
        $.each($.teacherList,function(k,v){
            if (v["t_department"]== s_department) {
                html += "<option value='"+v.t_id+"'>"+v.t_name+"</option>";
            }
        });
        $("#dialogForChange [id=mainTeacherListItem]").html(html);
        
        var html="",result,oriTeacherHtml="";
        $.each($.pairTeacher,function(k,v){
            html += '<tr>\n\
                        <td>'+v.t_name+'</td>\n\
                        <td>'+v.chinesDepart+'</td>\n\
                    </tr>';
            oriTeacherHtml += v.t_name+"、";
        });
        oriTeacherHtml = oriTeacherHtml.substr(0,oriTeacherHtml.length-1);
        $("#oriTeacher").html( oriTeacherHtml );
        
        $( "#dialogForChange" ).dialog({
	        width: 400,
	        buttons: [
		        {
			        text: "變更",
			        click: function() {
			            if($("#dialogForChange [id=mainTeacherListItem]").val()===null){
                            alert("請選擇主要指導老師")
                            return false;
                        }
			            $( ".oriTeacherPlace" ).children("div").eq(0).children("span").eq(1).html($("#dialogForChange [id=mainTeacherListItem]").find(":selected").text());
                        $( ".oriTeacherPlace" ).children("div:gt(0)").hide();
                        var i=0;
                        $.each($("#dialogForChange .subTeacher"),function(k,v){
                            if($(v).val()!==null&&$(v).val()!==""){
                                $( ".oriTeacherPlace" ).children("div:gt(0)").eq(i).show();
                                $( ".oriTeacherPlace" ).children("div:gt(0)").eq(i).children("span").eq(1).html($(v).find(":selected").text());
                                i++;
                            }
                        });
                        $( "#dialogForChangeApply" ).dialog({
	                        width: 400,
	                        buttons: [
		                        {
			                        text: "Ok",
			                        click: function() {
                                        var subTeacher = [], infoObj;
                                        $.each($("#dialogForChange .subTeacher"),function(k,v){
                                            if($(v).val()!==null&&$(v).val()!==""){
                                                infoObj={"t_id":$(v).val(), "t_type": $(v).attr("t_type")};
                                                subTeacher[subTeacher.length] = infoObj;
                                            }
                                        });
                                        $.ajax({
                                            type:"POST",
                                            dataType: "text",
                                            url: "/admin/StudentChange",
                                            data: {
                                                main: $("#dialogForChange [id=mainTeacherListItem]").val() ,
                                                sub: JSON.stringify(subTeacher) ,
                                                s_id: $.modify_s_id
                                            },
                                            success: function(data){
                                                data = JSON.parse(data);
                                                if( data.status ) {
                                                        alert( "申請成功，請等待教授確認" );
                                                        location.reload();
                                                }
                                                else {
                                                        alert( data.msg );
                                                }
                                            }
                                        });
				                        $( this ).dialog( "close" );
			                        }
		                        },
		                        {
			                        text: "Cancel",
			                        click: function() {
				                        $( this ).dialog( "close" );
			                        }
		                        }
	                        ]
                        });
				        $( this ).dialog( "close" );
			        }
		        },
		        {
			        text: "取消",
			        click: function() {
				        $( this ).dialog( "close" );
			        }
		        }
	        ]
        });
    }

    
</script>
<h3>
    <span>碩博士生一覽表</span>
    <span>系所: @ViewBag.Depart</span>
    <span>學號: @ViewBag.User</span>
</h3>
<table id="table"></table>
<p><h5>學號紅色為休學，底線為外籍生</h5></p>
<div id="dialog-studentinfo" title="學生資訊" hidden>

    <table id="tableStudentInfo">
        <thead>
            <tr>
                <th>學號</th>
                <th>學生姓名</th>
                <th>指導教授</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <p><h4>申請指導教授</h4></p>
    <div id="apply">    </div>

    <p><h4>異動申請</h4></p>
    <div id="change">    </div>
</div>
<div id="dialog-acceptChange" title="學生資訊" hidden></div>

<!-- ui-dialog -->
<div id="dialogForApply" title="申請指導老師" hidden>
    <div>
        <span>主要指導教授</span>
        <span></span>
        <span>
            <select id="mainTeacherListItem"></select>
        </span>
    </div>

    <div>
        <span>次要指導教授</span>
        <span>@Html.DropDownList("departmentListItem")</span>
        <span>
            <select class="subTeacher" t_type="1">
                <option selected="selected" value="">選擇指導教授</option>
            </select>
        </span>
        <span>
            <select class="" t_type="2" style="display:none;">
                <option selected="selected" value="">選擇指導教授</option>
            </select>
        </span>
        <span>
            <button id="dialog-link" class="ui-button ui-corner-all ui-widget">
                <span class="ui-icon ui-icon-newwin"></span> ?
            </button>
        </span>
    </div>
    <div>
        <span>次要指導教授</span>
        <span>@Html.DropDownList("departmentListItem")</span>
        <span>
            <select class="subTeacher" t_type="1">
                <option selected="selected" value="">選擇指導教授</option>
            </select>
        </span>
        <span>
            <select class="" t_type="2" style="display:none;">
                <option selected="selected" value="">選擇指導教授</option>
            </select>
        </span>
    </div>
    <div>
        <span>次要指導教授</span>
        <span>@Html.DropDownList("departmentListItem")</span>
        <span>
            <select class="subTeacher" t_type="1">
                <option selected="selected" value="">選擇指導教授</option>
            </select>
        </span>
        <span>
            <select class="" t_type="2" style="display:none;">
                <option selected="selected" value="">選擇指導教授</option>
            </select>
        </span>
    </div>
</div>
<div id="dialogForCheckApply" title="申請指導老師" hidden>
    <div>
        <span>主要指導教授: </span>
        <span></span>
    </div>
    <div>
        <span>次要指導教授: </span>
        <span></span>
    </div>
    <div>
        <span>次要指導教授: </span>
        <span></span>
    </div>
    <div>
        <span>次要指導教授: </span>
        <span></span>
    </div>
</div>


<div id="dialogForChange" title="指導教授變更申請" hidden>
	    <div>注意事項</div>
        <div>1.變更指導教授申請，須獲得所有指導教授同意。</div>
        <div>2.申請後須等待所有指導教授進入系統確認方能生效。</div>
        
        <div>
            <span>主要指導教授</span>
            <span></span>
            <span>
                <select id="mainTeacherListItem"></select>
            </span>
        </div>

        <div>
            <span>次要指導教授</span>
            <span>@Html.DropDownList("departmentListItem")</span>
            <span>
                <select class="subTeacher" t_type="1">
                    <option selected="selected" value="">選擇指導教授</option>
                </select>
            </span>
            <span>
                <select class="" t_type="2" style="display:none;">
                    <option selected="selected" value="">選擇指導教授</option>
                </select>
            </span>
            <span>
	            <button id="dialog-link" class="ui-button ui-corner-all ui-widget">
		            <span class="ui-icon ui-icon-newwin"></span> ? 
	            </button>
            </span>
        </div>
        <div>
            <span>次要指導教授</span>
            <span>@Html.DropDownList("departmentListItem")</span>
            <span>
                <select class="subTeacher" t_type="1">
                    <option selected="selected" value="">選擇指導教授</option>
                </select>
            </span>
            <span>
                <select class="" t_type="2" style="display:none;">
                    <option selected="selected" value="">選擇指導教授</option>
                </select>
            </span>
        </div>
        <div>
            <span>次要指導教授</span>
            <span>@Html.DropDownList("departmentListItem")</span>
            <span>
                <select class="subTeacher" t_type="1">
                    <option selected="selected" value="">選擇指導教授</option>
                </select>
            </span>
            <span>
                <select class="" t_type="2" style="display:none;">
                    <option selected="selected" value="">選擇指導教授</option>
                </select>
            </span>
        </div>
</div>
<div id="dialogForChangeApply" title="指導教授變更申請" hidden>
    <div>
	    <span>將指導教授由 </span>
	    <span id="oriTeacher"></span>
    </div>
    <div>
	    <span>變更為</span>
	    <span class="oriTeacherPlace">
            <div>
	            <span>主要指導教授: </span>
	            <span></span>
            </div>
            <div>
	            <span>次要指導教授: </span>
	            <span></span>
            </div>
            <div>
	            <span>次要指導教授: </span>
	            <span></span>
            </div>
            <div>
	            <span>次要指導教授: </span>
	            <span></span>
            </div>
        </span>
    </div>
</div>

<div id="dialog-acceptApply" title="同意申請" hidden>
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;">
        </span><a id="accept">同意</a><a id="teacher"></a>為該學生之指導學生
    </p>
</div>
